@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    box-sizing: border-box;
}
body{
    background-color: var(--secondary-color);
    /* background-image: url(img/6.svg); */
    font-family: 'Oswald', sans-serif;
    margin: 0rem;
}
/* colors */
:root{
    /* --primary-color:#FFC107; */
    /* --secondary-color:#F8EDE3; */
    --primary-color:#171717;
    --secondary-color:#FFE459;
    --width:600px;
}
/* nav-bar */
nav{
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}
/* main */
main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width);
}
/* input */
::placeholder { 
    color:var(--secondary-color);
    opacity: 1; 
  }
#input-txt{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    
    box-sizing: border-box;
    display: block;
    font-size: large;
    width: 100%; 
    min-height: 20vh;
    font-family: inherit;
    margin-top: 2rem;
}
/* button */
#btn-translate{
    border-radius: 0.3rem;
    color: var(--secondary-color);
    background-color:black;
   border: 2px solid var(--primary-color);
    font: inherit;
    font-size: large;
    cursor: pointer;
    padding: 0.5rem ;
}

/* output */
#output-txt{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    padding: 1rem;
    font-size: large;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
}
/* footer */
footer{
    margin-top: 2rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color)
}
.footer-txt{
    max-width: var(--width);
    margin: auto;
    
}